<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ title }}</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/image/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/image/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/image/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <link rel="stylesheet" type="text/css" href="/css/chartist.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
{% block content %}{% endblock %}

<footer>
    <p>Created by <a href="https://cadelwatson.com">Cadel Watson</a>.</p>
    <p>Data provided for free by <a href="https://iextrading.com/developer">IEX</a>. View <a href="https://iextrading.com/api-exhibit-a/">IEX’s Terms of Use.</a></p>
    <p>Favicon from <a href="https://github.com/twitter/twemoji">Twemoji</a>.</p>
</footer>
</body>
</html>