{% extends "layout/base.html" %}

{% block content %}
<header>
    <h1><a href="/">{{title}}</a></h1>
    <form action="/search" method="get">
        <input type="search" name="search" id="search" placeholder="Search for a symbol or company">
    </form>
</header>

<main>
    <section>
        <h2>In focus</h2>

        <table cellspacing="0">
            <tr>
                <th>Stock</th>
                <th>Price (USD)</th>
                <th>Change (USD)</th>
                <th>Volume</th>
            </tr>
            {% for stock in inFocus %}
            <tr>
                <td><a href="/stock/{{stock.symbol}}">{{stock.companyName}} ({{stock.symbol}})</a></td>
                <td>{{(stock.latestPrice).toFixed(2)}}</td>
                {% if stock.change >= 0 %}
                    <td class="positive">+{{(stock.change).toFixed(2)}} ({{(stock.changePercent * 100).toFixed(2)}}%)</td>
                {% else %}
                    <td class="negative">{{(stock.change).toFixed(2)}} ({{(stock.changePercent * 100).toFixed(2)}}%)</td>
                {% endif %}
                <td>{{stock.latestVolume}}</td>
            </tr>
            {% endfor %}
        </table>
    </section>

    <section>
        <h2>Gainers</h2>
        <table cellspacing="0">
            <tr>
                <th>Stock</th>
                <th>Price (USD)</th>
                <th>Change (USD)</th>
                <th>Volume</th>
            </tr>
            {% for stock in gainers %}
            <tr>
                <td><a href="/stock/{{stock.symbol}}">{{stock.companyName}} ({{stock.symbol}})</a></td>
                <td>{{(stock.latestPrice).toFixed(2)}}</td>
                {% if stock.change >= 0 %}
                <td class="positive">+{{(stock.change).toFixed(2)}} ({{(stock.changePercent * 100).toFixed(2)}}%)</td>
                {% else %}
                <td class="negative">{{(stock.change).toFixed(2)}} ({{(stock.changePercent * 100).toFixed(2)}}%)</td>
                {% endif %}
                <td>{{stock.latestVolume}}</td>
            </tr>
            {% endfor %}
        </table>

    </section>

    <section>
        <h2>Losers</h2>
        <table cellspacing="0">
            <tr>
                <th>Stock</th>
                <th>Price (USD)</th>
                <th>Change (USD)</th>
                <th>Volume</th>
            </tr>
            {% for stock in losers %}
            <tr>
                <td><a href="/stock/{{stock.symbol}}">{{stock.companyName}} ({{stock.symbol}})</a></td>
                <td>{{(stock.latestPrice).toFixed(2)}}</td>
                {% if stock.change >= 0 %}
                <td class="positive">+{{(stock.change).toFixed(2)}} ({{(stock.changePercent * 100).toFixed(2)}}%)</td>
                {% else %}
                <td class="negative">{{(stock.change).toFixed(2)}} ({{(stock.changePercent * 100).toFixed(2)}}%)</td>
                {% endif %}
                <td>{{stock.latestVolume}}</td>
            </tr>
            {% endfor %}
        </table>

    </section>
</main>

{% endblock %}
