{% extends "layout/base.html" %}

{% block content %}
<h2>Most active</h2>
<ul>
    {% for stock in mostActive %}
        <li><a href="/stock/{{stock.symbol}}">{{stock.companyName}} ({{stock.symbol}})</a>: {{stock.latestPrice}} {{stock.change}} ({{stock.changePercent}})</li>
    {% else %}
        <li>Failed to load data</li>
    {% endfor %}
</ul>

<h2>Gainers</h2>
<ul>
    {% for stock in gainers %}
    <li><a href="/stock/{{stock.symbol}}">{{stock.companyName}} ({{stock.symbol}})</a>: {{stock.latestPrice}} {{stock.change}} ({{stock.changePercent}})</li>
    {% else %}
    <li>Failed to load data</li>
    {% endfor %}
</ul>

<h2>Losers</h2>
<ul>
    {% for stock in losers %}
    <li><a href="/stock/{{stock.symbol}}">{{stock.companyName}} ({{stock.symbol}})</a>: {{stock.latestPrice}} {{stock.change}} ({{stock.changePercent}})</li>
    {% else %}
    <li>Failed to load data</li>
    {% endfor %}
</ul>
{% endblock %}
