{% extends "layout/base.html" %}

{% block content %}
<header>
    <form action="/search" method="get">
        <label for="search">Search</label>
        <input type="search" name="search" id="search">
    </form>
</header>

<main>
    <section>
        <h2>In focus</h2>

        <table>
            <tr>
                <th>Stock</th>
                <th>Price (USD)</th>
                <th>Change (USD)</th>
                <th>Volume</th>
            </tr>
            {% for stock in inFocus %}
            <tr>
                <td><a href="/stock/{{stock.symbol}}">{{stock.companyName}} ({{stock.symbol}})</a></td>
                <td>{{stock.latestPrice}} ({{stock.changePercent}})</td>
                <td>{{stock.change}}</td>
                <td>{{stock.latestVolume}}</td>
            </tr>
            {% endfor %}
        </table>
    </section>

    <section>
        <h2>Gainers</h2>
        <table>
            <tr>
                <th>Stock</th>
                <th>Price (USD)</th>
                <th>Change (USD)</th>
                <th>Volume</th>
            </tr>
            {% for stock in gainers %}
            <tr>
                <td><a href="/stock/{{stock.symbol}}">{{stock.companyName}} ({{stock.symbol}})</a></td>
                <td>{{stock.latestPrice}} ({{stock.changePercent}})</td>
                <td>{{stock.change}}</td>
                <td>{{stock.latestVolume}}</td>
            </tr>
            {% endfor %}
        </table>

    </section>

    <section>
        <h2>Losers</h2>
        <table>
            <tr>
                <th>Stock</th>
                <th>Price (USD)</th>
                <th>Change (USD)</th>
                <th>Volume</th>
            </tr>
            {% for stock in losers %}
            <tr>
                <td><a href="/stock/{{stock.symbol}}">{{stock.companyName}} ({{stock.symbol}})</a></td>
                <td>{{stock.latestPrice}} ({{stock.changePercent}})</td>
                <td>{{stock.change}}</td>
                <td>{{stock.latestVolume}}</td>
            </tr>
            {% endfor %}
        </table>

    </section>
</main>

{% endblock %}
