{% extends "layout/base.html" %}

{% block content %}
<h1><a href="{{website}}">{{name}} ({{symbol}})</a></h1>

<h2>Historical data</h2>

{{chart | safe}}

<ul>
    <li><a href="/stock/{{symbol}}/5y">5y</a></li>
    <li><a href="/stock/{{symbol}}/2y">2y</a></li>
    <li><a href="/stock/{{symbol}}/1y">1y</a></li>
    <li><a href="/stock/{{symbol}}/ytd">ytd</a></li>
    <li><a href="/stock/{{symbol}}/6m">6m</a></li>
    <li><a href="/stock/{{symbol}}/3m">3m</a></li>
    <li><a href="/stock/{{symbol}}/1m">1m</a></li>
    <li><a href="/stock/{{symbol}}/1d">1d</a></li>
</ul>


<h2>Live data</h2>

<p>Exchange: {{quote.primaryExchange}}</p>
<p>Latest price: {{quote.latestPrice}} ({{quote.latestSource}})</p>
<p>Latest price updated: {{latestPriceUpdate}}</p>
<p>Volume: {{quote.latestVolume}}</p>
<p>Change: {{quote.change}} ({{quote.changePercent}})</p>
{% endblock %}
