{% extends "layout/base.html" %}

{% block content %}
<header>
    <h1><a href="/">{{title}}</a></h1>
    <form action="/search" method="get">
        <input type="search" name="search" id="search" placeholder="Search for a symbol or company">
    </form>
</header>

<main>
    <section>
        <h2><a href="{{website}}">{{name}} ({{symbol}})</a></h2>
        <table class="no-header highlight-first-column" cellspacing="0">
            <tr><td>Exchange</td><td> {{quote.primaryExchange}} ({{quote.latestSource}})</td></tr>
            <tr><td>Latest price</td><td> ${{quote.latestPrice}}</td></tr>
            <tr><td>Latest price updated</td><td> {{latestPriceUpdate}}</td></tr>
            <tr><td>Volume</td><td>{{quote.latestVolume}}</td></tr>
            <tr><td>Change</td>
                {% if quote.change >= 0 %}
                <td class="positive">+{{(quote.change).toFixed(2)}} ({{(quote.changePercent * 100).toFixed(2)}}%)</td>
                {% else %}
                <td class="negative">{{(quote.change).toFixed(2)}} ({{(quote.changePercent * 100).toFixed(2)}}%)</td>
                {% endif %}
            </tr>
            <tr><td>Market cap</td><td>${{quote.marketCap}}</td></tr>
            <tr><td>P/E ratio</td><td>${{quote.peRatio}}</td></tr>
            <tr><td>52-week high</td><td>${{quote.week52High}}</td></tr>
            <tr><td>52-week low</td><td>${{quote.week52Low}}</td></tr>
            <tr><td>Change YTD</td>
                {% if quote.ytdChange >= 0 %}
                <td class="positive">+{{(quote.ytdChange * 100).toFixed(2)}}%</td>
                {% else %}
                <td class="negative">{{(quote.ytdChange * 100).toFixed(2)}}%</td>
                {% endif %}
            </tr>

        </table>
    </section>

    <section>
        <div class="historical-data-title">
            <h3>Historical data</h3>
            <ul id="timeframe-options">
                <li><a href="/stock/{{symbol}}/5y">5y</a></li>
                <li><a href="/stock/{{symbol}}/2y">2y</a></li>
                <li><a href="/stock/{{symbol}}/1y">1y</a></li>
                <li><a href="/stock/{{symbol}}/ytd">ytd</a></li>
                <li><a href="/stock/{{symbol}}/6m">6m</a></li>
                <li><a href="/stock/{{symbol}}/3m">3m</a></li>
                <li><a href="/stock/{{symbol}}/1m">1m</a></li>
                <li><a href="/stock/{{symbol}}/1d">1d</a></li>
            </ul>
        </div>
        <div class="with-border">

            <div class="chart-small">
                {{charts.small | safe}}
            </div>

            <div class="chart-medium">
                {{charts.medium | safe}}
            </div>

            <div class="chart-large">
                {{charts.large | safe}}
            </div>
        </div>

    </section>
</main>

{% endblock %}
