* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;

    font-family: sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;

    color: #1a2a3a;
}

main {
    flex-grow: 1;
    margin: 1em;
}

section:not(:first-child) {
    margin-top: 1em;
}

section > h2 {
    margin-top: 0;
    margin-bottom: 0.5em;
}

section > h3 {
    margin-top: 0;
    margin-bottom: 0.5em;
}

section > table {
    width: 100%;
    text-align: left;
    border: 2px #1a2a3a solid;
}

th:not(:first-child) {
    text-align: right;
}

td:not(:first-child) {
    text-align: right;
}

tr:first-child {
    background: #cccccc;
}

.no-header tr:first-child {
    background: inherit;
}

.highlight-first-column td:first-child {
    font-weight: bold;
}

tr:nth-child(even) {
    background: #f3f3f3;
}

th, td {
    padding: 3px;
}

a {
    color: inherit;
}

h1 a {
    text-decoration: none;
}

.positive {
    color: #66ff99;
}

.negative {
    color: #ff9966;
}

.with-border {
    border: 2px #1a2a3a solid;
}

#search {
    border: 2px #1a2a3a solid;
    padding: 0.5em 1em 0.5em 1em;
    width: 100%;
}

header {
    padding: 1em;
    width: 100%;
}

header > h1 {
    font-size: 3em;
    margin-top: 0;
}

@media screen and (min-width: 992px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header form {
        width: 40%;
    }
}

@media screen and (min-width: 1200px) {
    main {
        display: flex;
    }

    section {
        flex-grow: 1;
        margin: 1em;
    }

    section:not(:first-child) {
        margin-top: 1em;
    }

    body {
        justify-content: space-between;
    }

    header {
        padding: 2em;
    }

    footer {
        margin: 1em 2em 1em 2em !important;
    }
}

/* From https://stackoverflow.com/a/52521513 */
.ct-label.ct-horizontal.ct-end {
    writing-mode: vertical-lr;
    transform: translateY(-8%);
    white-space: nowrap;
}

/* From https://stackoverflow.com/a/42666530 */
svg.ct-chart-bar, svg.ct-chart-line{
    overflow: visible;
}

.ct-series-a .ct-bar, .ct-series-a .ct-line, .ct-series-a .ct-point, .ct-series-a .ct-slice-donut {
    stroke: #1a2a3a;
}

.ct-point {
    stroke-width: 8px;
}

.ct-line {
    stroke-width: 3px;
}

.ct-grid {
    stroke-dasharray: 0;
    stroke: #e7e7e7;
}

.ct-chart {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#timeframe-options {
    text-transform: uppercase;
    display: flex;
    justify-content: right;
    list-style: none;
    /*margin-top: 1.25em;*/
}

#timeframe-options li {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

footer {
    font-style: italic;
    font-size: 0.8em;
    margin: 1em 1em 1em 1em;

    display: flex;
    flex-direction: column;
    align-items: end;
}

footer p {
    margin-bottom: 0.2em;
    margin-top: 0;
}

.chart-medium {
    display: none;
}

.chart-large {
    display: none;
}

@media screen and (min-width: 710px ) {
    .chart-small {
        display: none;
    }

    .chart-medium {
        display: block;
    }

    .chart-large {
        display: none;
    }
}

@media screen and (min-width: 1024px ) {
    .chart-small {
        display: none;
    }

    .chart-medium {
        display: none;
    }

    .chart-large {
        display: block;
    }
}